body {
  font-family: "Roboto";
  padding: 12vw;
  max-width: 100vw;
  max-height: 88vh;
  box-sizing: border-box;
  background: url("/image/recycling-concept-top-view.jpg") 0 0/100% auto
    no-repeat;
}

.containers {
  padding-top: 6vh;
  display: flex;
  justify-content: space-evenly;
}

.game-timer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 28vh;
}

main {
  max-width: 40%;
  margin: 0 auto;
}

.caption {
  font-size: 2em;

  font-weight: bolder;
  text-align: center;
  transition: color 500ms ease-in;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

#yellow .dumpster-text {
  background-color: #ffad00;
}

#green .dumpster-text {
  background-color: #6ec100;
}

#blue .dumpster-text {
  background-color: #0060f2;
}

#red .dumpster-text {
  background-color: red;
}

.label {
  display: flex;
  justify-content: center;
}

.dumpster-text {
  border-radius: 40px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 100%;
  letter-spacing: 0.2px;
  text-align: center;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 3vh;
  width: max-content;
}

.counter {
  opacity: 0;
  display: flex;
  width: 500px;
  justify-content: space-between;
  transition: all 350ms ease-in;
}

.counter.active {
  opacity: 1;
}

.win span,
.lose span,
.again span {
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.win,
.lose,
.again {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  height: 30px;
  transition: all 350ms ease-in;
  box-shadow: 0 5px 0 #5d593a;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.win,
.lose {
  width: 80px;
}

.dumpster-garbage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.timer-svg {
  width: 350px;
  object-fit: contain;
}

.cub-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  z-index: 4;
  width: 200px;
}

.trash_picture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #c3deee;
  z-index: 3;
  opacity: 0.3;
  transform: scale(1);
  transition: all 350ms ease-in;
  /*animation-delay: 2s; */
}

.trash_picture.active {
  opacity: 1;
  transform: scale(1.3);
  transition: all 350ms ease-in;
}

.trash_picture img {
  width: 145px;
  z-index: 3;
  opacity: 0;
  transform: scale(1);
  transition: all 350ms ease-in;
  /* animation-delay: 2s; */
}

.trash_picture img.active {
  opacity: 1;
  transform: scale(1.2);
  /* animation-delay: 2s;*/
  /*transition: all 350ms ease-in; */
}

.trash_picture img.flight {
  transform: translate(50px, 200px) skew(40deg, 0deg) scale(0.5) rotate(180deg);
  opacity: 1;
}

.circles {
  display: flex;
}

.green_circles,
.red_circles {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0.1;
}

.win {
  background-color: #a7d161;
}

.lose {
  background-color: #e5017c;
}

.game_over {
  z-index: 1;
  position: absolute;
}

.dumpster {
  width: 23%;
  position: sticky;
  cursor: pointer;
}

.dumpster-cap {
  width: 76%;
  object-fit: contain;
  position: absolute;
  left: 0.8vw;
  top: 7vh;
  z-index: -1;
  transition: top 450ms ease-in;
}

.dumpster:hover .wasteboxs .dumpster-cap {
  top: -0.5vh;
}

.start {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.button_begin {
  color: white;
  cursor: pointer;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 2rem;
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 12px 40px;
  margin: 10px 20px;
  border-radius: 100px;
  border: 5px;
  background-image: linear-gradient(
    45deg,
    #e6a8d7 0%,
    #cd00cd 50%,
    #660066 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;

  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: 0.5s;
}
.button_begin:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
  outline: solid 5px;
}

.button_begin.active {
  display: none;
}

.dumpster-text--green.down {
  bottom: 50px;
  color: #e5017c;
}

.again {
  background-color: #d3a8f0;
  cursor: pointer;
  display: none;
}

.button_again {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  outline: none;
  border: none;
  background-color: #d3a8f0;
  transition: all 350ms ease-in;
  cursor: pointer;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.again.active {
  display: flex;
  z-index: 6;
  transition: all 350ms ease-in;
  margin-top: 2vh;
  height: 3vh;
  width: 10vw;
}

.trash_picture.end {
  opacity: 0;
}

.cub-svg.active {
  opacity: 0;
}

.counter.end {
  opacity: 1;
  display: flex;
  width: 12vw;
  transition: all 350ms ease-in;
  position: absolute;
  top: 40vh;
  gap: 1vw;
  justify-content: center;
}

.trash_picture.backgroundYes {
  background: #a7d161;
}

.trash_picture.backgroundNo {
  background: #e5017c;
}
